<html lang = "en">
<head> 
    <style>
        body{
            background-color: rgb(79, 169, 199);
            font-family: Arial, Helvetica, sans-serif;
        }
        header {
        background-color: rgb(11, 132, 172);
            padding: 30px;
            text-align: center;
            font-size: 35px;
            color: white;
        }
        </style>
<header>
    <h2>Elder Helper</h2>
</header>

</head>
<body>
<h1>Output:{{output}}</h1>

<form method = "POST" id = "prompt">
    
</form>
    <textarea id="txtArea" rows="10" cols="10" form="prompt" placeholder="Enter a message!" 
    style="font-size:12pt;height:200px;width:400px;" 
    name = "promptmsg"></textarea> <br>
    <button type="submit" form="prompt" name = "prompter" value="Submit" style="font-size:14pt;background-color: aquamarine;"  buttonOff>Submit message</button>

</form>
<form method = "POST">
    <input type = "submit" name = "switchButton3" value = "back" style="font-size:14pt;background-color: aquamarine;" place>
</form>
</body>
</html>