<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        head{
            background-color: lightblue;
        }
        h1{
            color:white
        }
        p{
            color:bisque
        }
        body{
            background-color: darkgreen;

        }
    </style>

    <title>Render Button App</title>
    <h1>Button Click Counter</h1>
    <p>Count: <span id="count">0</span></p>


    <button onclick="updateCount()">Click Me</button>

    <button onclick = ""></button>
    <script>
        async function updateCount() {
            const response = await fetch('/update', { method: 'POST' });
            const data = await response.json();
            document.getElementById('count').innerText = data.count;
        }
        async function fetchCount() {
            const response = await fetch('/get_count');
            const data = await response.json();
            document.getElementById('count').innerText = data.count;
        }

        fetchCount(); // Load initial count
    </script>
</head>
<body>
    <p>enter something</p>
    <input type="text" id="userInput" placeholder="Type Anything:" />
    <button onclick = "sendInput()"> Submit</button>
    <p>Output: <span id="response">dee</span></p>
    <script>
        
        async function sendInput() {
            const userInput = document.getElementById("userInput").value;
            
            const response = await fetch('/process', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ "user_input": userInput })
            });
            const data = await response.json();
            document.getElementById('response').innerText = data.response;
        }
        
    </script>
</body>

</html>